html,body{
    margin: 5;
    height: 100%;
    width: 100%;
    font-family:monospace;
}
#tp{
    background-color: lightgoldenrodyellow;
    position: fixed;
    height: 150;
    width: 100%;
    width: 100vw;
    border-bottom: 1px solid yellow;
    z-index: 2;
    top: -1;
}
#nm{
    position: relative;
    font-size: 30;
    color:firebrick;
}
#ml,#ph{
    position: relative;
    top: -40;
    text-align-last: right;
    font-size: 18;
    color:blue;
    right: 50;
}
#ph{
    color: red;
}
#ds{
    position: relative;
    font-size:20;
    color:darkslategrey;
    top: -60;
}
img{
    position: relative;
    width: 25;
    float: right;
    right: 50;
    top: -75;
}
#he{
    position: relative;
    width:150;
    height: 30;
    float: right;
    top: -60;
    right: -50;
}
#hr{
    position: relative;
    width:160;
    height: 25;
    float: right;
    top: -78;
    right: -35;
}
img:hover{
    cursor:pointer;
}
#hem{
    width: 300;
    top: 175;
}
#home{
    border: none;
    position: relative;
    top: 175;
    width: 1000;
    display: none;
}
#project{
    border: none;
    position: relative;
    width: 1000;
    top:150;
    display: none;
}
#d{
    font-size: 30;
    color:darkslategray
}
#p{
    font-family:cursive;
    font-size: 20;
    margin-left: 25;
}
a{
    color:darkgoldenrod;
    font-size: 22;
}
a:hover{
    color:goldenrod;
    text-decoration: none;
    color: darkred;
}
button{
    top: -83;
    position: fixed;
    border: 1px solid lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
    position: relative;
    border-bottom: 1px solid yellow;
    z-index: 3;
    font-size: 14;
    width: 100;
    height: 50;
    font-size: 18;
}
button:hover{
    background-color: white;
    border-bottom: 1px solid white;
}
button:focus{
    background-color: white;
    border-bottom: 1px solid white;
    border-left: 1px solid yellow;
    border-right: 1px solid yellow;
    border-top: 1px solid yellow;
    outline: none;
    font-weight: bold;
}
li{
    padding-bottom: 15px;
    padding-bottom: 15px;
    font-size: 20;
    padding-left: 20px;
}
h2{
    color: firebrick;
}